<nav class="navbar navbar-static-top">
    <div class="upper-container clearfix">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Canz we search for teh anything?" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">Search</span>
        </div>
        <div class="float-right" ng-show="!user">
            <div class="user-settings" ng-show="user">User Settings</div>
            <button class="btn btn-primary" ui-sref="login">Sign Up</button>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        </div>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
    <div class="lower-container clearfix">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ng-click="getCategoryProducts()">{{ item.label }}</a>
            </li>
        </ul>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
       <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
