<nav class="navbar navbar-default navbar-fixed-top clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-1" >
                <a class="btn logo-button" ui-sref="home"><fullstack-logo></fullstack-logo></a>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                <input type="text" ng-model="query" class="form-control" placeholder="Canz we search for teh anything?" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2" ng-click="search(query)">Search</span>
                </div>
            </div>

            <div class="col-md-4">
                <div ng-show="user">
                    <button class="btn welcome-button"><span>Welcome, {{ user.name }}!</span></button>
                </div>
            </div>
            <div class="col-md-2">
                <div ng-show="user.isGuest">
                    <button class="btn login-button" ui-sref="login">Login</button>
                    <button class="btn login-button" ui-sref="signup">Sign Up</button>
                </div>
                <div ng-show="!user.isGuest">
                    <a ng-click="logout()"><button class="btn login-button">Log Out</button></a>
                    <button class="btn login-button">My Account</button>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn cat-button" ui-sref="cart"><img src="http://i1382.photobucket.com/albums/ah279/npalenchar/cart_logo_noborder_zpsgkkfdzr8.png"/>{{user.shoppingCart.items.length}}</button>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default clearfix">
    <div class="lower-container" >
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav" >
                    <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()" >
                        <a ui-sref="productsByCategory({category: item.label})">{{ item.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
