#home {
	
  fullstack-logo {
    padding-top: 0px;
    width: 150px;
    margin: 0 auto;
    
  }
}

.myContainer {
	position: absolute;
	box-shadow: 1px 1px 14px -3px black;
	padding-top: 10px;
	top: 40%;
	left: 41%;
	width: 300px;
	height: 210px;
	background-color: silver;
	opacity: 0.8;
	border: 1px solid silver;
	text-align: center;
	margin: 0 auto;
	&:hover {
      		background-color: darken(silver, 10%);
      		transition: color 0.2s;
    	}	
	a {
		text-decoration: none;
		font-size: 28px;
		font-weight: 100;
		letter-spacing: 2px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: white;
    	cursor: pointer;
    	&:hover {
      		background: none;
      		transition: color 0.2s;
    	}	
    }
    
    
    &:focus {
      	background: none;
    }
  
	
}

.carousel {
	top: 102px;
	clear: none;
}


