
.description{
	margin-top: 50px;
	margin-left: 20px;
	height: 460px;
	background-color: white;
}

.product_reviews{
	margin-top: 20px;
	margin-left: 20px;
	height: 480px;
	max-height: 480px;
	overflow: scroll;
	
}

.productTitle {
	margin-top: 10%;
	margin-bottom: none;
	h2 { 
    	color: gray;
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    	font-weight: 100;
    	letter-spacing: 1.9px;
	}
}

.reviewbox {
	border-bottom: 1px solid #D3D3D3;
	padding-top:10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.review-button {
	float: right;
}

#productPhoto  {
    height: 550px;
    img {
        height: 100%;
    }
    background: none;
}

#align-right{
	float: right;
}
#productSummary {
	background-color: white;
    height: 550px; 
}

h2 { 
    color: red;
}

.input-quantity {
	max-width: 40px;
}

.nav-tabs{
	border: none;
  /*background-color: white;*/
}
.nav-tabs > li {
  	background-color: white;
  	border: none;
    /*border: medium silver;
    border-radius: 0;*/
/*    color:#fff;*/
}

.nav-tabs.active {
	background-color: white;
	border: none;
}

.nav-tabs > li.active{
  	/*background-color: red !important;*/
  	background-color: white;
    border: none;
    
    /*color:#fff;*/
}