navbar {
  display: block;
  box-shadow: 1px 1px 14px -3px black;
  margin-bottom: 0;

 .navbar-fixed-top{
    box-shadow: 1px 1px 14px -3px black;
    margin-bottom: 0;
    background-color: #F5F5F5;
 }
  .navbar-default{
    margin-bottom: 0;
    border: none;
    padding-bottom: 5px;

  }

  
  .container-fluid{
    width: 100%;
    padding-top: 5px;
    padding-bottom: none;
    margin-bottom: none;
    
  }

  .container {
    width: 100%;
    padding-top: 10px;
    

    
  } 

  .lower-container {
    width: 100%;
    text-align: center;
    padding-top: none;
    .nav{
      display: inline-block;
      float: none;
      margin-top: none;
      margin-bottom: 0px;
    }
  }

  fullstack-logo {
    width: 65px;
  }

  a {
    color: black;
    font-size: 1.1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 101;
    letter-spacing: 1.9px;
  }

  .input-group{
    max-width: 400px;
    margin-top: 10px;
  }

  .input-group-addon{
    &:hover {
      background: silver;
    }
  }

  .navbar-nav {
    height: 35px;
    margin: none;
    padding: none;

  }


  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: darken(#f31214, 10%);
      
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    border: none;
    background: none;
    clear: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 101;
    letter-spacing: 1.6px;
    &:hover {
      opacity: 0.6;
    }
  }

  .welcome-button {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    border: none;
    background: none;
    clear: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 101;
    letter-spacing: 1.2px;
    color: #8c8c8c;
  }

  .cart-button {
    margin-top: 12px;
    float: right;
    border: none;
    background: url('http://i1382.photobucket.com/albums/ah279/npalenchar/cart_button_zpsixsusuqx.jpg') no-repeat;
    background-size: 50px;
    &:hover {
      background: url('http://i1382.photobucket.com/albums/ah279/npalenchar/cart_button_hover_zpsa7bqva8z.jpg') no-repeat;
      background-size: 50px;
    }
    clear: none;


  }
  .cat-button{
    img {
      padding: none;
      background: transparent;
      height: 30px;
    }
    &:hover {
      img {
        opacity: 0.6;
      }
    }
    border: none; 
    background: none;
    padding: none;
    margin-top: 5px;
    float: right;
  }

  .logo-button {
    margin-top: -10px;
    padding: none;
    border: none;
    background: none;
    clear: none;
    &:hover {
      img {
        opacity: 0.6;
      }
    }
  }

  .welcome {
    float: right;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

.white {
  color: transparent;
  &:hover {
      color: transparent;
    }
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
