navbar {
  display: block;
  box-shadow: 1px 1px 14px -3px black;

  
  
  .container {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #E7E7E7;
  } 

  .lower-container {
    width: 100%;
    position: relative;
    margin-top: 70px;
    text-align: center;
    .nav{
      display: inline-block;
      float: none;
    }
  }

  fullstack-logo {
    width: 60px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .input-group{
    max-width: 400px;
    margin-top: 10px;
  }

  .input-group-addon{
    &:hover {
      background: #F0F8FF;
    }
  }

  .navbar-nav {
    height: 45px;
    margin: none;
    padding: none;
  }


  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    border: 1px solid   #C0C0C0;
    background: none;
    clear: none;
    &:hover {
      background: #F0F8FF;
    }
  }

  .welcome-button {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    border: none;
    background: none;
    clear: none;
  }

  .cart-button {
    margin-top: 12px;
    float: right;
    border: none;
    background: url('http://i1382.photobucket.com/albums/ah279/npalenchar/cart_button_zpsixsusuqx.jpg') no-repeat;
    background-size: 50px;
    &:hover {
      background: url('http://i1382.photobucket.com/albums/ah279/npalenchar/cart_button_hover_zpsa7bqva8z.jpg') no-repeat;
      background-size: 50px;
    }
    clear: none;


  }
  .cat-button{
    img {
      padding: none;
      background: transparent;
      height: 30px;
    }
    &:hover {
    
      img {
        opacity: 0.6;
      }
    }
    border: none; 
    background: none;
    padding: none;
    margin-top: 5px;
    float: right;
  }

  .logo-button {
    margin-top: -10px;
    padding: none;
    border: none;
    background: none;
    clear: none;
    &:hover {
      background: #F0F8FF;
    }
  }

  .welcome {
    float: right;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

.white {
  color: transparent;
  &:hover {
      color: transparent;
    }
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
