<div class="container">
    <a href="/userlist">Go back to user list</a>
    <h2>{{user.name}}</h2>
    <div class="row">
        <div id="userSummary" class="col-xs-6">
            <p><a editable-text="user.name" onbeforesave="updateUser('name', $data)">{{user.name}}</a></p>
            <p><a editable-text="user.email" onbeforesave="updateUser('email', $data)">{{user.email}}</a></p>
            <p>Account type:</p>
            <ul>
                <li>isSeller?: <a editable-select="user.isSeller" e-ng-options="b.value as b.text for b in bool"onbeforesave="updateUser('isSeller', $data)"> {{user.isSeller}}</a></li>
                <li>isAdmin?: <a editable-select="user.isAdmin" e-ng-options="b.value as b.text for b in bool"onbeforesave="updateUser('isAdmin', $data)"> {{user.isAdmin}}</a></li>
            </ul>
            <p>Cart contents:</p>
            <ul ng-repeat="item in user.shoppingCart">
                <li>{{item}}</li>
            </ul>
            <p>User reviews:</p>
            <ul ng-repeat="review in user.reviews">
                <li>{{review}}</li>
            </ul>
            <p>User history</p>
            <ul ng-repeat="order in user.history">
                <li>{{order}}</li>
            </ul>
        </div>
    </div>
</div>
