#checkout {
    margin-top:110px;
    background-color: #DCDCDC;
    padding: 20px;

    h2{
        color:blue;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #labels{
        font-style: bold;
        font-size: 20px;
    }
    img {
        max-width: 80px;
    }
    .item {
        margin-bottom:15px;
    }


}


