#checkout h2 {
    color:blue;
    font-family: "Helvetica Neue", Helvetica, Arial;
}
#checkout .row {
    border: solid 2px black;
    margin: 20px 0px;

}
#checkout .col-xs-12 {
    border: solid 1px gray;
}

hr {
    background-color:red;
}
