<div>
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="product.name" /><br />
    Price: <input type="number" ng-model="product.price" /><br />
    Description: <input type="text" ng-model="product.description"/></br>
    Tags: <input type="text" ng-model="product.tags" /><br />
    Quantity: <input type="text" ng-model="product.quantity" /><br />
    Category: <select ng-options="category as category.name for category in categories track by category._id" ng-model="selected"></select>
    <button ng-click = create(product)></button>
    {{product}}
  </form>
</div>

<!--
"_id": ObjectId("5697f775235bb79213ccb1ee"),
"name": "Cat Oven Mits",
"price": 23,
"description": "so useful",
"reviews": [ ],
"tags": [
  "fetch"
],
"quantity": 10,
"category": [
  "apartment"
], -->
