* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 20px;
  margin: 0 auto;
}

.align-right{
  float: right;
}

@import 'directives/main';
@import 'home/main';
@import 'product-detail/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'cart/main';
@import 'product-create/main';
@import 'checkout/main';
